@model Application
@{
    ViewData["Title"] = "Enter New Movie";
}

<h1>Enter New Movie</h1>

<form method="post">

    @* Category	Title	Year	Director	Rating	Edited	Lent To:	Notes *@

    <label asp-for="Category">Category:</label> @*put the asp-for on both so the user clicking either will activate the box:) *@
    <input asp-for="Category" />
    @*the asp-for tag helpers link the model to the form*@
    <span asp-validation-for="Category" class="text-danger"></span> <!-- Shows error message -->

    <br />
    <br />

    <label asp-for="Title">Title:</label>
    <input asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span> <!-- Shows error message -->
    <br />
    <br />

    <label asp-for="Year">Year:</label>
    <input asp-for="Year" />
    <span asp-validation-for="Year" class="text-danger"></span> <!-- Shows error message -->
    <br />
    <br />

    <label asp-for="Director">Director:</label>
    <input asp-for="Director" />
    <span asp-validation-for="Director" class="text-danger"></span> <!-- Shows error message -->
    <br />
    <br />

    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <span asp-validation-for="Rating" class="text-danger"></span> <!-- Shows error message -->

    <br />
    <br />

    <label asp-for="Edited">Edited:</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>

    </select>
    <br />
    <br />

    <label asp-for="Lent_To">Lent To:</label>
    <input asp-for="Lent_To" />
    <br />
    <br />

    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" />
    <br />
    <br />

    <button type="submit">Submit New Movie</button>
</form>