@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1 class="text-center">Get to Know Joel</h1>

<div class="GTKbody">
<a class="link" href="https://www.qwcomedy.com/" target="_blank">Visit Quick Wits Comedy</a>
<a class="link" href="https://baconsale.com/" target="_blank">Visit Baconsale</a>
<br>
<a class="image-link" href="https://baconsale.com/" target="_blank">
    <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Kate Photo">
</a>

</div>